# Introduction

In [ ]:
import sys

print(sys.version)

3.11.11 (main, Dec  4 2024, 08:55:07) [GCC 11.4.0]

In [ ]:
#python indentation
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [ ]:
x=5
x="hello"
print(x)

"""A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords."""

x,y,z="orange","banana","cherry"
print(x)
print(y)
print(z)

hello
orange
banana
cherry

In [ ]:
#global variables
x=5
def myfunc():
  print(x)

myfunc()

5

In [ ]:
y=3
def myfunc():
  y=24
  print (y)

myfunc()
print(y)

24
3

In [ ]:
#global Keyword global():To create a global variable inside a function
def myfunc():
  global x
  x=34
myfunc()

print(x)

34

In [ ]:
x="23"
def myfunc():
  global x
  x=43

myfunc()
print(x)

43

In [ ]:
#list
x=["a","b","c"]
print(x)
#tuple
y=(23,43,12,32)
print (y)

#lists are mutable whereas tuples are immutable

List=[2,3,4,5]
List[2] = 34
print (List)

import sys

List=[2,3,4,5]
print(sys.getsizeof(List))

print (sys.getsizeof(y))

['a', 'b', 'c']
(23, 43, 12, 32)
[2, 3, 34, 5]
88
72

In [ ]:
"""Sets are an unordered collection of unique elements, whereas a dictionary is an ordered collection of key-value pairs.
Sets store unique elements, while dictionaries store related pieces of information.
Elements of both sets and dictionaries are mutable. Both sets and dictionaries do not allow duplicate entries.
"""
#dict and set
x={"name" : "qwerty","no":9}
print (x)

x={"a","b","c"}
print(x)

{'name': 'qwerty', 'no': 9}
{'b', 'a', 'c'}

In [ ]:
 #frozenset():An immutable version of a Python set object is a frozen set.

 x=frozenset({"a","b","c"})
 print(x)

frozenset({'b', 'a', 'c'})

In [ ]:
#byte and bytearray
"""a bytes object is immutable, which means that once formed, its elements cannot be changed.
 A bytearray object, on the other hand, allows you to change its elements
"""
x=b"hello"
print(x)

w=bytearray(5)
print(w)


#memoryview
c=memoryview(bytes(5))
print(c)

b'hello'
bytearray(b'\x00\x00\x00\x00\x00')
<memory at 0x7cd741a74640>

In [ ]:
#type conversion
x=1 #int
y=23.23 #float
z=23j #complex

a=float(x)
b=complex(y)
c= int(y)

print(a,b,c)

1.0 (23.23+0j) 23

In [ ]:
#random
import random
print(random.randrange(1,10))

5

# strings

In [ ]:
#strings
#quotes inside quotes:use quotes inside a string, as long as they don't match the quotes surrounding the string
print ("it's noon")

#multiline string
a='''use quotes inside a string, as long as they don't match the quotes surrounding the string'''
print (a)

#string are arrays
a="hello"
print (a[2])

#looping through string using for
for x in "hello":
  print(x)

print(len(a))

# sting check: To check if a certain phrase or character is present in a string, we can use the keyword in
txt = "The best things in life are free!"
print("free" in txt)

#check if NOT
txt = "The best things in life are free!"
print("expensive" not in txt)

#using if
if 'free' in txt:
  print("free is present")
if 'expensive' not in txt:
  print("expensive is not present")

it's noon
use quotes inside a string, as long as they don't match the quotes surrounding the string
l
h
e
l
l
o
5
True
True
free is present
expensive is not present

In [ ]:
#string slicing
a="hello world"
print(a[2:4])

''' slice from the start, slice from the end, negative indexing'''

ll

In [ ]:
#f-string: simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations
#A placeholder can contain variables, operations, functions, and modifiers to format the value.

q=23
txt=f"hello world {q}"
print(txt)

'''A placeholder can include a modifier to format the value.

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:'''
price = 59
t = f"The price is {price:.2f} dollars"
print(t)

hello world 23
The price is 59.00 dollars

In [ ]:
#boolean
a=200
b=23
if a>b:
  print("a is greater than b")
else:
  print("b is greater than a")


print(bool("hello"))
print(bool(23))

a is greater than b
True
True

# lists

In [ ]:
#lists
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])


thislist = ["a", "b", "c", "o", "k", "m", "m"]
print(thislist[2:5])
print(thislist[:4])
print(thislist[2:])
print(thislist[-4:-1])


t = ["du", "ds", "qw"]
t[1] = "bc"
print(t)


tl = ["a", "b", "c"]
tl[1:3] = ["w"]
print(tl)

tl.insert(2, "h")
print(tl)

tl.append("o")
print(tl)

tp = ["m", "p", "n"]
tl.extend(tp)
print(tl)

tl.remove("m")
print(tl)

tl.pop(3)
print(tl)

del tl[2]
print(tl)

tl.clear()
print(tl)

cherry
['c', 'o', 'k']
['a', 'b', 'c', 'o']
['c', 'o', 'k', 'm', 'm']
['o', 'k', 'm']
['du', 'bc', 'qw']
['a', 'w']
['a', 'w', 'h']
['a', 'w', 'h', 'o']
['a', 'w', 'h', 'o', 'm', 'p', 'n']
['a', 'w', 'h', 'o', 'p', 'n']
['a', 'w', 'h', 'p', 'n']
['a', 'w', 'p', 'n']
[]

In [ ]:
# for loop in list
thislist = ["a", "b", "c"]
for x in thislist:
  print(x)

a
b
c

In [ ]:
thislist = ["a", "b", "c"]
for i in range(len(thislist)):
  print(thislist[i])

a
b
c

In [ ]:
#using while loop
thislist = ["a", "b", "c"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

a
b
c

In [ ]:
#list comprehension : List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
l = ("abc","cde","efg","adf","wer","asd")
newlist=[]

for x in l:
  if "a" in x:
    newlist.append(x)
print (newlist)


newlist = [x for x in l if "a" in x]

print(newlist)

['abc', 'adf', 'asd']
['abc', 'adf', 'asd']

In [ ]:
#sorting list
thislist = ["o", "m", "k", "p", "b"]
thislist.sort()
print(thislist)


#sort decending
thislist = ["o", "m", "k", "p", "b"]
thislist.sort(reverse = True)
print(thislist)

#customize sort function
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)


#case insentive
thislist = ["b", "O", "K", "c"]
thislist.sort(key = str.lower)
print(thislist)

#case senstive
thislist.sort()
print(thislist)

#reverse
thislist.reverse()
print(thislist)

#copy a list using list()
thislist = ["a", "b", "c"]
mylist = thislist.copy()
print(mylist)


#joining two lists using extend() and maually
a=["qw","wf","df"]
b=[1,2,3]
c=a+b
print(c)

#joining two lists using extend()
a=["qw","wf","df"]
b=[1,2,3]
a.extend(b)
print(a)

['b', 'k', 'm', 'o', 'p']
['p', 'o', 'm', 'k', 'b']
[50, 65, 23, 82, 100]
['b', 'c', 'K', 'O']
['K', 'O', 'b', 'c']
['c', 'b', 'O', 'K']
['a', 'b', 'c']
['qw', 'wf', 'df', 1, 2, 3]
['qw', 'wf', 'df', 1, 2, 3]

# Tuples

In [ ]:
#tuples
#Tuples are unchangeable, or immutable
#convert the tuple into a list, change the list, and convert the list back into a tuple
x = ("a", "b", "c")
y = list(x)
y[1] = "k"
x = tuple(y)

print(x)


y = list(x)
y.remove("a")
x = tuple(y)

print(x)

# unpacking tuple
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)



fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

#multiply tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)


## tuples has same properties like lists

('a', 'k', 'c')
('k', 'c')
apple
banana
cherry
apple
banana
['cherry', 'strawberry', 'raspberry']
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Sets

In [ ]:
#sets
#Set items are unchangeable, but you can remove items and add new items.

#access items
thisset= {"a","b","c"}
for x in thisset:
  print(x)

print("b" in thisset)
print("b"  not in thisset)

#add set items
thisset.add("o")
print(thisset)

#add any iterable like tuples,list, disctioneries etc to the set

mylist = ["k", "o"]
thisset.update(mylist)
print(thisset)

#remove item:remove() or discard() we can also use pop, clear and del
thisset.remove("o")
print(thisset)


#loop
for x in thisset:
  print(x)

b
a
c
True
False
{'b', 'a', 'o', 'c'}
{'c', 'o', 'k', 'b', 'a'}
{'c', 'k', 'b', 'a'}
c
k
b
a

In [ ]:
#joint sets
'''The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

'''
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1.union(set2, set3, set4)
print(myset)

x = {"a", "b", "c"}#joining set and tuple
y = (1, 2, 3)
z = x.union(y)
print(z)

#update: The update() method inserts all items from one set into another.
#The update() changes the original set, and does not return a new set.
x.update(y)
print(x)


set1 = {"a", "b", "c"}
set2 = {"g", "m", "a"}
set3 = set1.intersection(set2)
print(set3)

# & operator is also used for intersection
set3 = set1 & set2
print(set3)

set3 = set1.difference(set2)
print(set3)

set3 = set1.symmetric_difference(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}
{1, 2, 3, 'b', 'a', 'c'}
{1, 2, 3, 'apple', 'bananas', 'c', 'Elena', 'b', 'a', 'cherry', 'John'}
{1, 2, 3, 'c', 'b', 'a'}
{1, 2, 3, 'c', 'b', 'a'}
{'a'}
{'a'}
{'b', 'c'}
{'c', 'm', 'b', 'g'}

# Dictionery

In [ ]:
#dictioneries
#A dictionary is a collection which is ordered, changeable and do not allow duplicates
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}
print(thisdict)

x= thisdict.get("model")
print(x)

y = thisdict.keys()
print(y) #before the change
thisdict["color"] = "white"
print(y) #after the change


#changing values in a dictionery
thisdict["year"] = 2018
print(thisdict)

#we can remove items by pop and del and clear
thisdict.pop("model")
print(thisdict)


#nested dictioneries
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Mustang
dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'white'}
{'brand': 'Ford', 'year': 2018, 'color': 'white'}
{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}